* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f4f4f9;
  color: #333;
  background-image: url('/img/girasoles.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header {
  background-color: #fffc53;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: relative;
  border-radius: 5px;
  border-bottom: 2px solid #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header img {
  position: absolute;
  border-radius: 15px;
  left: 40px;
  top: 12px;
  width: 180px;
  height: auto;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 1.1em;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #000000;
}

.animated-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #000000;
  color: #000000;
  transition: background-color 0.4s, color 0.4s;
  border-radius: 25px;
  font-weight: bold;
}

.animated-button:hover {
  background-color: #ffbb00;
  color: #333;
}

nav a, .producto {
  transition: box-shadow 0.3s;
}

nav a:hover, .producto:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

#whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 1000;
  transition: transform 0.3s ease;
}

#whatsapp-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#whatsapp-icon:hover {
  transform: scale(1.1);
}

#social-icons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 30px;
  margin-top: -1.5%;
  flex-direction: column;
}

#social-icons a {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

#social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  min-width: 3px;
}

#social-icons a:hover {
  transform: scale(1.1);
}

main {
  padding: 20px;
}

#productos {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.producto {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.producto:hover {
  transform: translateY(-10px);
}

.producto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.producto:hover img {
  transform: scale(1.1);
}

.info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
}

.info h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.info p {
  font-size: 1.5em;
}

.producto.active .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #000000;
  text-align: center;
  color: white;
}


@media screen and (max-width: 1024px) {

  #productos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  header img {
    left: 20px;
    top: 10px;
    width: 120px;
  }

  nav {
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a {
    font-size: 1em; 
    padding: 8px 12px; 
  }

  .animated-button {
    padding: 8px 15px; 
    font-size: 0.9em; 
  }

  #productos {
    grid-template-columns: repeat(2, 1fr);
  }

  #social-icons {
    flex-direction: column;
    gap: 20px;
    top: 12px;

  }

  #social-icons img { 
    width: 35px;
    height: auto;
  
}
}

@media screen and (max-width: 480px) {
  header img {
    width: 100px;
    left: 1px;
  }
  
  nav a {
    font-size: 0.9em; 
    padding: 6px 10px; 
  }

  .animated-button {
    padding: 6px 12px; 
    font-size: 0.8em; 
  }

  #productos {
    grid-template-columns: 1fr;
  }

  #social-icons {
    flex-direction: column;
    gap: 10px;
    top: 10px;

  }

  .info h2, .info p {
    font-size: 1.2em;
  }

  #social-icons img {

    height: auto;
    width: 30px;
  
}

}


